{% extends "base.html" %}

{% block title %}
Detalhes do Acesso
{% endblock %}

{% block content %}
<h1>Detalhes do Acesso</h1>

<p><strong>Sistema:</strong> {{ access.system.name }}</p>
<p><strong>Cliente:</strong> {{ access.client.name }}</p>
<p><strong>Data de criação:</strong> {{ access.created_at }}</p>
<p><strong>Data do acesso:</strong> {{ access.access_date }}</p>
<p><strong>Log:</strong> {{ access.access_log }}</p>

<form action="{% url 'access_revoke' access_details.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Revogar acesso</button>
</form>


<a href="{% url 'access' %}">Voltar</a>
{% endblock %}