<!DOCTYPE html>
<html>
<body>

<h1>Acessos Registrados</h1>
  
<ul>
  {% for x in access_list_html %}
    <li><a href="{% url 'access_details_route' x.id %}">{{ x.system.system_name }} {{ x.client.client_name }}</a></li>
  {% endfor %}
</ul>
<!--
  Sintaxe:
    - access_list_html: variável que recebe a lista de objetos do modelo Access;
    - x: variável de temporária de iteração para cada objeto na lista acessos_html;
    - x.id: atributo de identificação do objeto Access, utilizado para construir a URL de detalhes do acesso;
    - x.system.system_name: atributo que acessa o nome do sistema relacionado ao acesso, através da chave estrangeira (FK) para o modelo System;
    - x.client.client_name: atributo que acessa o nome do cliente relacionado ao acesso, através da chave estrangeira (FK) para o modelo Client.
-->
</body>
</html>
