<!DOCTYPE html>
<html>

<body>

<h1>Detalhes do Acesso</h1>
<!--
    Sinxate:
        - access: objeto princial (instância do modelo Access);
        - system: objeto secundário e relacionado ao sistema acessado (instância do modelo System). 
                    Django aqui segue a regra de PK e FK, onde o modelo Access tem uma chave estrangeira (FK) que se relaciona com a chave primária (PK) do modelo System;
        - system_name: nome do sistema acessado;
-->

<p><strong>Sistema:</strong> {{ access.system.system_name }}</p>
<p><strong>Cliente:</strong> {{ access.client.client_name }}</p>
<p><strong>Data de Criação:</strong> {{ access.system.system_creation_date}}</p>
<p><strong>Descrição do Sistema:</strong> {{ access.system.system_description }}</p>
<p><strong>Data de Acesso:</strong> {{ access.access_date }}</p>
<p><strong>Log do Acesso:</strong> {{ access.access_log }}</p>


<p><a href="{% url 'access_route' %}">Voltar</a></p>

</body>
</html>